@{
  WebSecurity.RequireAuthenticatedUser();
  Layout = "~/_SiteLayout.cshtml";
  Page.Title = "Your Teams";

  var db = Database.Open("stackRankR");
  if (IsPost) {
    db.Execute("INSERT INTO Team (Name, OwnerId) VALUES (@0, @1)", Request["newTeamName"], WebSecurity.CurrentUserId);
    var teamId = db.GetLastInsertId();

    Response.Redirect("~/ViewTeam/" + db.GetLastInsertId());
  }
  var teamQuery = db.Query("SELECT Name, Id FROM Team");
}

@section Scripts {
  <script>
    $(function () {
      $('.newTeamLink').click(function () {
        $("#dialog").dialog({
          modal: true,
          buttons: {
            "Create": function () {
              if ($('#newTeamName').val() === '') {
                $('.error').show();
              } else {
                document.forms['newTeam'].submit();
                $(this).dialog('close');
              }
            },
            "Cancel": function () {
              $(this).dialog('close');
            }
          },
          open: function () {
            $(this).parent().appendTo($('#newTeam'));
          }
        });
      });

      $('#newTeamName').keydown(function () {
        $('.error').hide();
      });
    });
  </script>
}

<h2>Teams</h2>

<div class="contentContainer">
  @if (teamQuery.Count() == 0) {
    <p>You have no teams!</p>
  } else {
    <ul class="teamList">
      @foreach (var team in teamQuery) {
        <li class="team"><a href="~/ViewTeam/@team.Id">@team.Name</a></li>
      }
    </ul>
  }

  <form method="post" id="newTeam">
    <a href="javascript:return false;" class="newTeamLink">New Team</a>
    <div id="dialog" title="New Team">
      <p>Enter a name for your new team:</p>
      <input type="text" id="newTeamName" name="newTeamName" class="required"/>
      <span class="error">*</span>
    </div>
  </form>
</div>