@{
  WebSecurity.RequireAuthenticatedUser();
  Layout = "~/_SiteLayout.cshtml";
  Page.Title = "Your Teams";

  var db = Database.Open("stackRankR");
  if (IsPost) {
    db.Execute("INSERT INTO Team (Name, OwnerId) VALUES (@0, @1)", Request["newTeamName"], WebSecurity.CurrentUserId);
    var teamId = db.GetLastInsertId();
    for (int i = 1; i <= 3; i++) {
      db.Execute("INSERT INTO Ranking (Name, TeamId) VALUES (@0, @1)", i, teamId);
    }
    Response.Redirect("~/ViewTeam/" + teamId);
  }
  var teamQuery = db.Query("SELECT Name, Id FROM Team");
}

@section Scripts {
  <script>
    $(function () {
      $('.linkButton').click(function () {
        $("#dialog").dialog({
          modal: true,
          draggable: false,
          resizable: false,
          buttons: {
            "Create": function () {
              if ($('#newTeamName').val() === '') {
                $('.error').show();
              } else {
                document.forms['newTeam'].submit();
                $(this).dialog('close');
              }
            },
            "Cancel": function () {
              $(this).dialog('close');
            }
          },
          open: function () {
            $(this).parent().appendTo($('#newTeam'));
          }
        });
      });

      $('#newTeamName').keydown(function () {
        $('.error').hide();
      });
    });
  </script>
}

<h2>Teams</h2>

<div class="contentContainer">
  <div class="leftContent">
    @if (teamQuery.Count() == 0) {
      <p>You have no teams!</p>
      <div class="medSpacer"></div>
    } else {
      <ul class="teamList">
        @foreach (var team in teamQuery) {
          <li class="team"><a href="~/ViewTeam/@team.Id">@team.Name</a></li>
        }
      </ul>
    }

    <form method="post" id="newTeam">
      <a href="javascript:return false;" class="linkButton">New Team</a>
      <div id="dialog" title="New Team">
        <p>Enter a name for your new team:</p>
        <input type="text" id="newTeamName" name="newTeamName" class="dialogInput"/>
        <span class="error">*</span>
      </div>
    </form>
  </div>
  <div class="rightContent">
    <img alt="avatar" src="">
  </div>
</div>