a {
  text-decoration: none;
}

.newTeam {
  margin-left: 10px;
  display: block;
}

.linkButton {
  border:  3px solid black;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  background-color: #d8eb9f;
}

  .linkButton:hover, .linkButton:focus {
    outline: none;
    text-decoration: none;
    background-color: #deeabd;
  }

#dialog {
  display: none;
}

.dialogInput {
  width: 200px;
}

.error {
  display: none;
  color: Red;
}

.contentContainer {
  margin-left: 7px;
}

.teamList {
  font-family: 'Open Sans';
  font-size: 1.3em;
  font-weight: bold;
  list-style: none;
  padding-left: 3px;
  width: 80%;
  margin-bottom: 30px;
}

  .teamList li {
    border-bottom: 1px solid #a9bc6f;
    padding: 7px 0 7px 0;
    margin: 0;
  }

  .teamList li a {
    text-decoration: none;
    display: block;
    padding: 3px;
  }

  .teamList li a:hover, .teamList li a:focus {
    text-decoration: none;
    outline: none;
  }

.medSpacer {
  height: 7px;
}

/* Team View */
.rankingContainer {
  list-style: none;
  margin: 20px 0 0 20px;
}

  .ranking {
    float: left;
    width: 250px;
    margin-right: 30px;
    background-color: #a9bc6f;
  }

  .ranking h3 {
    padding: 0;
    margin:  13px 0 0 13px;
  }

  .addPerson {
    display: block;
    border-top: 2px solid #deeabd;
    margin: 30px auto 0 auto;
    padding: 7px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
  }

  .addPerson:hover, .addPerson:focus {
    outline: none;
    font-weight: bold;
    background-color: #deeabd;
  }

.dialogContainer {
  display: none;
}

.peopleContainer {
  margin-top: 13px;
}

.person {
  width: 210px;
  border: 2px solid Grey;
  border-radius: 7px;
  margin: 0 0 10px 10px;
  padding: 7px;
  background-color: #deeabd;
}