a {
  text-decoration: none;
}

.newTeam {
  margin-left: 10px;
  display: block;
}

.linkButton {
  font-size: 1.0em;
  font-family: 'Open Sans';
  border: 3px solid black;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  background-color: #d8eb9f;
}

.deleteButton {
  font-size: 0.95em;
}

  .linkButton:hover, .linkButton:focus {
    outline: none;
    text-decoration: none;
    background-color: #deeabd;
  }

#dialog {
  display: none;
}

.dialogInput {
  width: 200px;
}

.error {
  margin-left: 7px;
  display: none;
  color: Red;
}

.contentContainer {
  margin-left: 7px;
}

.leftContent {
  width: 50%;
  float: left;
}

.rightContent {
  float: left;
}

#newTeamButton {
  font-family: Verdana, Helvetica, sans-serif;
}

.teamList {
  font-family: 'Open Sans';
  font-size: 1.3em;
  font-weight: bold;
  list-style: none;
  padding: 0;
  margin: 13px 0 0 0;
  width: 30%;
  margin-bottom: 20px;
}

  .teamList li {
    padding: 3px 0 3px 0;
    margin: 0;
  }

  .teamList li a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 5px;
  }

  .teamList li a:hover, .teamList li a:focus {
    text-decoration: none;
    outline: none;
  }

.medSpacer {
  height: 7px;
}

.largeSpacer {
  height: 20px;
}

.teamName {
  text-align: left;
}

.teamList li a:hover .modifyButton {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0.65;
  background: url(../Images/process.png) no-repeat;
  top: 5px;
  right: 5px;
}

.deletedTeam a {
  font-size: 0.6em;
  background:  #e86363;
}

.deletedTeam a:hover {
  background: #df9595;
}

.undo {
  position: relative;
}

.undoButton {
  position: absolute;
  right: 7px;
}

/* Team View */
.avatar {
  margin-top: 20px;
}

.rankingContainer {
  list-style: none;
  margin: 20px 0 0 20px;
}

  .ranking {
    float: left;
    width: 250px;
    margin-right: 30px;
    background-color: #a9bc6f;
  }

  .ranking h3 {
    padding: 0;
    margin:  13px 0 0 13px;
  }

  .addPerson {
    display: block;
    border: 2px solid #a9bc6f;
    border-top: 2px solid #deeabd;
    margin: 30px auto 0 auto;
    padding: 7px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
  }

  .addPerson:hover, .addPerson:focus {
    outline: none;
    font-weight: bold;
    border: 2px solid Black;
    background-color: #deeabd;
  }

.dialogContainer {
  display: none;
}

.peopleContainer {
  padding: 0;
  list-style-type: none;
  min-height: 25px;
}

.person {
  width: 216px;
  border: 2px solid Grey;
  margin: 0 0 7px 0px;
  padding: 0;
  background-color: #deeabd;
  border-radius: 7px;
}

.person a {
  display: block;
  padding: 4px;
  border-radius: 4px;
}

.person a span {
  display: block;
  margin: 4px;
}

.ui-state-highlight {
  background-color: #deeabd;
  width: 216px;
  border-radius: 4px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 12px;
}